OBSNAM: @EXPID
OBSDSC: @EXPDSC

        filename:   '@filename'
        filetype:   'CFIO'
        fields:     'STR'      , 'DYN'           , 'STR'  , 1
                    'RES'      , 'DYN'           , 'RES'  , 1
                    'DUM'      , 'DYN'           , 'DUM'  , 1
                    ::
